<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BDD Paris Ynov Campus</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/Index.css">
</head>
<body>
    <header>
        <!-- Barre de navigation Bootstrap -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="./presentation">BDD PYC</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="./index">Qui sommes-nous ?</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./actualite">Actualités</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./contact">Contact</a>
                    </li>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <main class="container mt-4">
        <section class="jumbotron">
            <h1 class="display-4">Bienvenue sur le site du BDD PYC !</h1>
            <p class="lead">Votre bureau des étudiants au service de la vie étudiante.</p>
            <hr class="my-4">
            <p>Présentation du BDD – Paris Ynov Campus 
                Bienvenue sur le site du Bureau du Développement Durable (BDD) de Paris Ynov Campus ! Nous sommes une organisation engagée dans la promotion d’initiatives écologiques et responsables au sein de notre établissement.
                
                Notre mission
                Sensibiliser, agir et innover pour un avenir plus durable !
                
                Au BDD, nous mettons en place des projets concrets pour réduire notre impact environnemental : gestion des déchets, économies d’énergie, sensibilisation aux éco-gestes, organisation d’événements écoresponsables et bien plus encore. Nous croyons en l’implication de chacun pour construire un campus plus vert et plus respectueux de notre planète.
                
                Rejoignez-nous ! Que vous soyez passionné(e) par l’écologie ou simplement curieux(se) d’apprendre comment contribuer à un monde plus durable, nous vous accueillons avec plaisir. Ensemble, faisons la différence ! .</p>
            <a class="btn btn-primary btn-lg" href="./connection" role="button">Rejoignez-nous !</a>
            <a class="btn btn-secondary btn-lg" href="./actualite" role="button">Découvrez nos événements</a>
        </section>
    </main>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
