<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/Presentation.css">
    <title>Présentaion</title>
</head>
<body>
    <!-- Vidéo en arrière-plan -->
    <video autoplay muted loop id="background-video">
        <source src="../static/img/presentation.mp4" type="video/mp4">
        Votre navigateur ne supporte pas la lecture des vidéos.
    </video>

    <!-- Contenu de la page -->
    <div class="content">
        <h1>Bureau du Développement Durable</h1>
        <p>Nous sommes une organisation engagée dans la promotion d’initiatives écologiques et responsables au sein de notre établissement.

            Notre mission ? Sensibiliser, agir et innover pour un avenir plus durable ! 🌱
            
            Au BDD, nous mettons en place des projets concrets visant à réduire notre impact environnemental : gestion des déchets, économies d’énergie, sensibilisation aux éco-gestes, organisation d’événements écoresponsables et bien plus encore. Nous croyons en l’implication de chacun pour construire un environnement scolaire plus vert et plus respectueux de notre planète.
            
            📢 Rejoignez-nous ! Que vous soyez passionné(e) par l’écologie ou simplement curieux(se) de découvrir comment contribuer à un monde meilleur.</p>
            <a href="./connection" class="bouton" ><button>je suis interessé !</button></a>
    </div>   

</body>
</html>